.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.contact-links {
  display: flex;
  flex-direction: row;
  margin: 2rem;
  padding-top: 4.5rem;
  justify-content: center;
}

.canal-icon {
  width: 3rem;
  margin: 2rem;
  padding: 2rem;
}

.canal-icon:hover {
  border-radius: 30%;
  border: 1.5px solid #000;
}